li{
  list-style: none;
  display: flex;
  border:1px solid #ccc;
  margin-bottom: 10px;
}
.SPguanli{
  font-weight: 600;
  font-size: 18px;
}
.SPtitle{
  width: 7%;
  padding-top: 12px ;
  border-right:1px solid #ccc;
  text-align: center;
}
.Input{
  padding: 8px ;
  text-align: center;
}
.ibox-content{
  width: 90%;
  height:200px;
}
.InputImg{
  padding: 8px;
}